<ul>
    <li><a href="/users/sign_in" class="current"><span></span>Home</a></li>
    <li><a href="#"><span></span>Gallery</a></li>
    <li><a href="#"><span></span>Blog</a></li>
    <li>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
    </li>            
    <li><a href="/products"><span></span>Products</a></li>
    <li><a href="/logins"><span></span>Register</a></li>
</ul>